.image-preview-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
  }
  